<section class="page-password-protect-denied">
  <h2>{{ 'Access denied'|t }}</h2>
  {% if custom_message %}
    <p>{{ custom_message }}</p>
  {% endif %}
  <p>{{ 'Please contact an administrator to request access.'|t }}</p>
</section>
