<section class="page-password-protect-form">
  {% if custom_message %}
    <div class="custom-message">{{ custom_message }}</div>
  {% endif %}
  {% if hint %}
    <p class="password-hint">{{ hint }}</p>
  {% endif %}
  <p class="password-action">
    {{ 'This content is password protected.'|t }}
    {{ link('Enter password', access_url) }}
  </p>
</section>
